body {
    background-color: #f2f8ff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('../images/survivor.jpg'); /* 背景画像のURLを変更してください */
    background-size: cover;
    color: #333;
}
h1 {
    color: #ff0033;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h2 {
    color: #0056b3;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.prizes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.prize {
    color: #f2f8ff;
    background-color: rgb(129, 133, 158);
    border: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s;
}
.prize:hover {
    transform: scale(1.1);
}
.prize img {
    width: 90%;
    border-radius: 10px;
    border-color: #000;
}
.prize h3 {
    text-shadow: -1px 1px rgba(0, 0, 0, 1);
    font-size: 1rem;
    margin: 5%;
    -webkit-text-stroke: 0.2px #000;
    color: #f2f8ff;
    background-color: rgb(98, 99, 118);
}
.prize h4 {
    text-shadow: -1px 2px rgba(0, 0, 0, 1);
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #000;
    padding: 5px;
    font-size: 1.2rem;
    -webkit-text-stroke: 0.3px #000;
    color: #f2f8ff;
    background: linear-gradient(
        to right, rgb(248, 231, 7), rgb(247, 189,16));
}
footer {
    margin-top: 50px;
    font-size: 0.8rem;
    color: #666;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
